.wrap {
  width: 100%;
  .content {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    .sections {
      .head {
        margin-bottom: 16px;
        .title {}
      }
      .section-1 {
        width: 100%;
        display: flex;
        gap: 24px;
        .left {
          width: 100%;
        }
        .right {
          width: 100%;
        }
      }
    }
  }
}