
.why-wrap {
  width: 100%;
  border-radius: 686px 686px 0px 0px;
  background: linear-gradient(180deg, rgba(235, 235, 235, 0.40) 0%, rgba(235, 235, 235, 0.00) 100%);
  .content {
    width: calc(100% - 48px);
    max-width: 766px;
    margin: auto;
    padding: 80px 0 40px;
    .heading {
      margin-bottom: 45px;
      text-align: center;
      color: #262626;
      h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
      }
    }
    .section {
      color: #404040;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .image {
        width: 373px;
        height: 240px;
        border-radius: 32px;
        img {
          width: inherit;
          height: inherit;
          border-radius: inherit;
        }
      }
      .text {
        .title {
          margin-bottom: 4px;
          h3 {
            margin: 0;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.4px;
          }
        }
        .desc {
          font-size: 17px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: -0.34px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .why-wrap {
    .content {
      .section {
        display: flex;
        align-items: center;
        gap: 20px;
        &:nth-child(even) {
          .image {
            order: 2;
          }
          .text {
            order: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .why-wrap {
    border-radius: 170px 170px 0px 0px;
    .content {
      padding: 55px 0 20px;
      .heading {
        margin-bottom: 32px;
        h2 {
          font-size: 20px;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: -0.4px;
        }
      }
      .section {
        max-width: 272px;
        margin: auto;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        .image {
          width: 272px;
          height: 176px;
          margin-bottom: 16px
        }
        .text {
          .title {
            h3 {
              font-size: 14px;
              font-weight: 700;
              line-height: 130%;
              letter-spacing: -0.28px;
            }
          }
          .desc {
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.24px;
          }
        }
      }
    }
  }
}