<div class="wrap">
  <div class="content">
    <div class="left-section">
      <div class="logo">
        <div class="link" routerLink="/">
          <img class="brand-logo" [src]="vars.domain_details.logoLightBg" [alt]="vars.domain_details.name" />
        </div>
      </div>
    </div>
    <div class="right-section">
      <div class="btns">
        <!-- <button *ngIf="!vars?.pageName?.match('all_fundraiser|stories')" class="go-all-fund" (click)="goToAllFundraiser()" mat-button>Contribute Now</button> -->
      </div>
    </div>
  </div>
</div>
