<div class="wrap">
  <div *ngIf="label" class="label" [innerHTML]="label"></div>
  <div class="input-wrap" [ngClass]="{'input-error': control?.invalid && control?.touched}" (click)="wrapClick()">
    <input *ngIf="control" #childInput
      [type]="type"
      [placeholder]="placeHolder"
      [formControl]="control"
      min="{{min}}"
      max="{{max}}"
      (input)="onInputChange()"
      (change)="onInputChange()"
      (focus)="focusInput(true)"
      (focusout)="focusInput(false)"
      (wheel)="$event.preventDefault()"
    />
    <em *ngIf="postIcon" ngClass="material-icons post">{{postIcon}}</em>
  </div>

  <div *ngIf="control?.touched && control?.hasError('required')" class="error" [innerHTML]="errorMessage?.required"></div>
  <div *ngIf="control?.touched && control?.hasError('email')" class="error" [innerHTML]="errorMessage?.email"></div>
  <div *ngIf="control?.touched && control?.hasError('min')" class="error" [innerHTML]="errorMessage?.min"></div>
  <div *ngIf="control?.touched && control?.hasError('max')" class="error" [innerHTML]="errorMessage?.max"></div>
  <div *ngIf="control?.touched && control?.hasError('minlength')" class="error" [innerHTML]="errorMessage?.minlength"></div>
  <div *ngIf="control?.touched && control?.hasError('maxlength')" class="error" [innerHTML]="errorMessage?.maxlength"></div>
  <div *ngIf="control?.touched && control?.hasError('pattern')" class="error" [innerHTML]="errorMessage?.pattern"></div>
  <div *ngIf="control?.touched && control?.hasError('custom')" class="error" [innerHTML]="errorMessage?.custom"></div>

  <div *ngIf="note" class="note" [innerHTML]="note"></div>
</div>