::ng-deep {
  app-currency {
    color: inherit;
    font-size: inherit;
    span {
      font-family: var(--font-source-sans-pro);
      // font-size: inherit;
      font-size: 95%;
      color: inherit;
    }
  }
}