.headerWrap {
  .section1 {
    display: flex;
    align-items: center;
    .left {}
    .middle {
      .menu {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
          padding: 5px 10px;
          border-radius: 2px;
          font-weight: 500;
          transition: all 0.2s ease-in;
          &:hover {
            background: var(--primary-color-shadow-05);
          }
          &.active {
            background: var(--primary-color-shadow-1);
          }
        }
      }
    }
    .right {}
  }
}