<div class="headerWrap">
  <div class="section1">
    <div class="left">
      <a [routerLink]="'/'"><app-optimized-image [src]="vars.hostData.logoLightBg" width="100px" [alt]="vars.hostData.name" /></a>
    </div>
    <div class="middle">
      @if (vars.layoutConfig.showMenus) {
        <div class="menu">
          @for (item of navLinks; track $index) {
            <a [class.active]="item.link === vars.router.url.split('?')[0]" [routerLink]="item.link" [queryParams]="item.params">{{item.label}}</a>
          }
        </div>
      }
    </div>
    <div class="right"></div>
  </div>
</div>