.headerWrap {
  .section1 {
    .left {}
    .middle {
      display: flex;
      align-items: center;
      gap: 5px;
      a {
        padding: 5px 10px;
        border-radius: 2px;
        font-weight: 500;
        white-space: nowrap;
        transition: all 0.2s ease-in;
        &:hover {
          background: var(--primary-color-shadow-05);
        }
        &.active {
          background: var(--primary-color-shadow-1);
        }
      }
    }
    .left {}
  }
}