<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Login</h2>
    <!-- Username -->
    <div class="form-group">
      <label for="user_name">Username</label>
      <input #formInput name="user_name" id="user_name" type="text" placeholder="Enter username" formControlName="user_name" />
      @if (f['user_name'].touched && f['user_name'].invalid) {
        <div class="error">
          @if (f['user_name'].errors?.['required']) { Username is required. }
          @if (f['user_name'].errors?.['pattern']) { Username must contain only lowercase letters, digits, '.' or '_', with at most one dot and one underscore. }
        </div>
      }
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <div class="inputWrap">
        <input #formInput name="password" id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" formControlName="password" />
        <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">{{ showPassword ? '👁️‍🗨️' : '👁️' }}</button>
      </div>
      @if (f['password'].touched && f['password'].invalid) {
        <div class="error">
          @if (f['password'].errors?.['required']) { Password is required. }
          @if (f['password'].errors?.['pattern']) { Password must be 8–12 characters long and include uppercase, lowercase, number, and special character. }
        </div>
      }
    </div>

    <button type="submit">Login</button>
  </form>
</div>