<div class="work-wrap">
  <div class="content">
    <div class="heading">{{data?.howItWorksTitle}}</div>
    @if (!vars.isMobile) {
      <div class="work-cards">
        <ng-container *ngTemplateOutlet="templateRef" />
      </div>
    }
    @if (vars.isMobile && data?.howItWorks) {
      <div class="work-cards slide">
        <ngx-glide [showArrows]="false" [showBullets]="false" [gap]="10" type="slider" [perView]="1.4"
          [bound]="false" arrowLeftLabel="" arrowRightLabel="">
          <ng-container *ngTemplateOutlet="templateRef" />
        </ngx-glide>
      </div>
    }
  </div>
</div>

<ng-template #templateRef>
  @for (item of data?.howItWorks; track $index) {
    <div class="work-card">
      <div class="image">
        <img ngSrc="{{item?.image}}" alt="card" width="250" height="192" />
      </div>
      <div class="card-text">
        <div class="title">{{item?.title}}</div>
        <div class="desc">{{item?.desc}}</div>
      </div>
    </div>
  }
</ng-template>
