<div class="faq-wrap">
  <div class="content">
    <div class="heading"><h2>Frequently Asked Questions</h2></div>
    <div class="faqs">
      <mat-accordion multi>
        @for (item of faqs; track $index) {
          <mat-expansion-panel (afterExpand)="sendEvent()">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>{{item.title | DomainNamePipe}}</h3></mat-panel-title>
            </mat-expansion-panel-header>
            <div class="desc" [innerHTML]="item.desc | DomainNamePipe"></div>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </div>
</div>