.cost-skeleton {
  width: 100%;
  table {
    width: 570px;
  }
}

.wrap {
  width: 570px;
  margin: 0;
  padding: 10px;
  .content {
    .no-data {
      width: 100%;
      padding: 30px;
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 40px;
      caption {
        font-size: 1.5em;
        margin: 10px 0;
        font-weight: 700;
      }
      th,
      td {
        width: fit-content;
        min-width: fit-content;
        max-width: fit-content;
        border: 1px solid #bebebe;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }

      .source {
        min-width: 70px;
      }
      .net-total,
      .total-amount {
        width: fit-content;
        text-align: right;
      }
      .payable-row,
      .paid-row,
      .remaining-row {
        font-weight: 700;
        .description {
          padding-right: 5px;
          text-align: right;
        }
        .net-total {
          text-align: center;
        }
      }
    }
  }
}

.font-b {
  font-weight: 700;
}

.b-top-3 {
  border-top: 3px solid #bebebe;
}

.b-bottom-3 {
  border-bottom: 3px solid #bebebe;
}


.filter-header {
  width: 100%;
  max-width: calc(100% - 20px);
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  gap: 20px;
  position: sticky;
  top: -1px;
  padding: 10px;
  z-index: 10;
  background-color: #bcbcbc;
  .row {
    display: flex;
    align-items: center;
    gap: 20px;
    label {
      margin-right: 5px;
    }

  }
}