/* You can add global styles to this file, and also import other style files */

:root {
  --primary-font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-color: #2A7AAC;
  --primary-color-rgb: 42, 122, 172;
  --primary-color-shadow-05: rgb(var(--primary-color-rgb), 0.05);
  --primary-color-shadow-1: rgb(var(--primary-color-rgb), 0.1);
  --primary-color-shadow-2: rgb(var(--primary-color-rgb), 0.2);
  --primary-color-shadow-3: rgb(var(--primary-color-rgb), 0.3);
  --primary-color-shadow-4: rgb(var(--primary-color-rgb), 0.4);
  --primary-color-shadow-5: rgb(var(--primary-color-rgb), 0.5);
  --primary-color-shadow-6: rgb(var(--primary-color-rgb), 0.6);
  --primary-color-shadow-7: rgb(var(--primary-color-rgb), 0.7);
  --primary-color-shadow-8: rgb(var(--primary-color-rgb), 0.8);
  --primary-color-shadow-9: rgb(var(--primary-color-rgb), 0.9);
  --secondary-color: #FFBE62;
  --secondary-color-rgb: 255, 190, 98;
  --secondary-color-shadow-05: rgb(var(--secondary-color-rgb), 0.05);
  --secondary-color-shadow-1: rgb(var(--secondary-color-rgb), 0.1);
  --secondary-color-shadow-2: rgb(var(--secondary-color-rgb), 0.2);
  --secondary-color-shadow-3: rgb(var(--secondary-color-rgb), 0.3);
  --secondary-color-shadow-4: rgb(var(--secondary-color-rgb), 0.4);
  --secondary-color-shadow-5: rgb(var(--secondary-color-rgb), 0.5);
  --secondary-color-shadow-6: rgb(var(--secondary-color-rgb), 0.6);
  --secondary-color-shadow-7: rgb(var(--secondary-color-rgb), 0.7);
  --secondary-color-shadow-8: rgb(var(--secondary-color-rgb), 0.8);
  --secondary-color-shadow-9: rgb(var(--secondary-color-rgb), 0.9);
  --primary-text-color: #404040;
  --secondary-text-color: #2C2C2C;
  --error-color: #ea4335;
}


body {
  margin: 0;
  font-family: var(--primary-font-family);
}

* {
  color: var(--primary-text-color);
  -webkit-overflow-scrolling: initial
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, .25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, .05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.prevent-click {
  pointer-events: none;
}

.d-none {
  display: none;
}

@media only screen and (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }
}


@media only screen and (max-width: 767px) {
  .desk-only {
    display: none !important;
  }
}